<%- include("partials/header.ejs") %>
<br><br>
<h1>Welcome to my page</h1>
<br>
<p class="homepage-text">
  My name is Kubra Korkmaz, and I am a computer engineer focused on both frontend and backend development.
  I have built and deployed real-world applications using technologies like React.js, Express.js, Spring Boot, and Docker. 
  I enjoy crafting responsive interfaces and developing scalable, secure APIs.
</p>

<p>
  I have also participated in academic and industry projects involving authentication, API development, and version control.
  I’m currently learning about Web3 technologies, including blockchain fundamentals and how decentralized applications work.</p>
<img  class= "homepage-image" src="images/homepage-image.png" alt="hp-image">
<%- include("partials/footer.ejs") %>