<%- include("partials/header.ejs") %>
<div class="my-projects">
    <h2>Some Projects do not require contacting me</h2>
    <br>
    <ul>
        <li>The <a href="https://www.youtube.com/watch?v=tAH7mT62Xrs">webinar</a> I participated in.</li> 
         <li>The <a href="https://ieeexplore.ieee.org/document/10757120/metrics#metrics">paper</a> published by my supervisor, teammates, and me.</li>      
    </ul>
      <br>
      <h2>Some projects and reports require contacting me to access</h2>
      <br>
      <ul>
        <li>
          My TUBİTAK report, which focuses on cryptographic accumulators, their applications, and modern authentication and authorization approaches.
        </li>
        <li>
          The project I completed during my internship at Turksat (User authentication and authorization with Spring Security and React), along with its report.
        </li>
        <li>
          My project report from Italy, which focuses on the Turkish WordNet. We are currently working on a research paper about this with my supervisor and teammates.
        </li>
      </ul>
</div>

<%- include("partials/footer.ejs") %>