<%- include("partials/header.ejs") %>
<br><br>
<h1>Hello!</h1>
<img  class="aboutpage-image" src="images/aboutpage-cat.png" alt="about me cat">
<p class="about-text"> already mentioned my name on the homepage, but saying it again won’t hurt. 😌 My name is Kubra 
    and I officially graduated from Eskişehir Osmangazi University on October 10, 2024, with a degree 
    in Computer Engineering. At the time of graduation, I was in Italy doing a voluntary internship 
    under the Erasmus+ Program, so I officially completed my university procedures in January 2025.

    Speaking of Erasmus, I also participated in another Erasmus+ program in Lithuania for five months. 
    That program was focused on education, not an internship. <br><br>
    
   
    During my final year at university, I joined a <a href="https://tubitak.gov.tr/en">Tubitak</a> project
     titled "End-to-End Cryptographic Accumulators and Their Applications." Along with my supervisor and 
     teammates, we presented a webinar on our work and also published a paper. You can find more details 
     on my <a href="https://orcid.org/0009-0003-2674-4403">ORCID</a> profile.<br><br>
     
     I completed my mandatory internship at <a href="https://www.turksat.com.tr/en">Turksat</a>, where 
     I worked on user authentication and authorization using Spring Security and React. Due to the 
     limited internship duration (one month), I didn’t have the chance to write my own API from scratch. 
     However, I did work on both backend and frontend components, and tested the backend using Postman.
     Currently, I’m enhancing that project by integrating Keycloak for Single Sign-On (SSO).<br><br>
     
     In October 2024, I was accepted into the Google Artificial Intelligence and Technology Academy and 
     started the program in mid-December. This is a 6-month program, and my focus area is AI-powered 
     game development.
     As part of the program, I’m taking mandatory courses on entrepreneurship, project management 
     (via Google-Coursera), and Unity (Basic & Advanced). Additionally, my optional courses 
     are game design, web development with Python, and data analysis under this program.<br><br>
</p>
<%- include("partials/footer.ejs") %>