<%- include("partials/header.ejs") %>
<br><br>
<h1>Welcome to my page</h1>
<br>
<p class="homepage-text">My name is Kubra Korkmaz, and I am a computer engineer. I am passionate about coding and design. 
Up until now, I have studied and worked in various areas such as frontend, backend, academic research, 
and data. Currently, I am improving my skills in Spring Boot, Keycloak, and frontend development.
</p>
<p>I am also learning Node.js and interested in Android development and security.</p>
<img  class= "homepage-image" src="images/homepage-image.png" alt="hp-image">
<%- include("partials/footer.ejs") %>