/* Set HTML and Body to full height */
html,
body {
  height: 100%;
  margin: 0; /* Remove default margins */
  display: flex;
  flex-direction: column; /* Align vertically */
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
/* Paragraph text */
.homepage p, .about p {
  color: rgb(45, 45, 45);
  text-align: center;
  margin: 3rem 0 1rem;
  font-size: 1.1em;
  padding: 0 5%;
}
.my-projects {
  text-align: left;
  justify-content: left;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
/* Make the main content flexible */
main {
  flex: 1 0 auto; /* Make the main content area flexible */
  text-align: center;
  padding: 5vmin;
}
header,
footer {
  flex: 0 0 auto;
}
footer p {
  color: whitesmoke;
  margin: 10px 0;
}