</main>
<footer>
	<div id="info-card">
		<div>
			<h6>Credits</h6>
			<p><a href="https://jisho.org/">Jisho Dictionary</a> <br>
				This website is developed by Kübra Korkmaz <br>
				Her <a href="https://github.com/kybrakorkmaz">Github </a> account 
			</p>
		</div>
		<img src="images/a girl with sunflower.png" alt="developer">
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script
		src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
		crossorigin="anonymous">
</script>
<script src="scripts/function.js"></script>
</footer>
</html>